@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Colours */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

/* General Rulesets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 1.3em;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: var(--dark-cyan);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat ;
    background-position: right 53vw bottom 39vh, left 32vw top 40vh;
}

li {
    list-style: none;
    font-weight: 700;
    margin-right: 0.6em;
}

img {
    max-width: 100%;
}

span {
    display: block;
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.15em;
}

p {
    color: var(--dark-grayish-blue);
    margin-top: 0.5em;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

/* Card */

.card-container {
    max-width: 420px;
    background-color: #FFF;
    border-radius: 0.7em;
    overflow: hidden;
}

.card__bg {
    width: 100%;   
}

.card__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin-top: -55px;
}

.card__name {
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
    margin-top: 0.9em;
}

.card__name span {
    display: inline;
    font-size: 18px;
    letter-spacing: 0;
    margin-left: 0.3em;
}

.stats__list {
    display: flex;
    justify-content: space-around;
    padding: 1.3em 0.6em;
    margin-top: 1.5em;
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    color: var(--very-dark-desaturated-blue);
}

.list__span {
    margin-top: 0.2em;
    font-size: 10px;
}

/* Footer */

.attribution { 
    font-size: 11px; text-align: center;
    padding: 2em; 
}

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

/* Media Queries */

@media only screen and (min-width: 50em) {
    body {
        background-position: right 53vw bottom 39vh, left 50vw top 48vh;
    }
}